.page-six-childs {
  width: 410px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  justify-content: space-evenly;
  align-items: start;
  border-radius: 10px;
  background-color: #F9F9F7;
  h4{
    color: #AD343E;
    font-size: 24px;
    font-weight: bold;
  }
  p{
    font-size: 18px;
  }
}
